@import './assets//base.scss';

.app {
  background-color: $app-background-color;
  overflow: hidden;
  color: white;
  font-size: 16px;
  font-family: cursive;
  flex-direction: column;
}

.app, main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

main {
  padding: 20px;
}

.app-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}